body{
  background-color: #E5E5E5;
  font-family: 'Raleway','Roboto';

}
.titulo {
  font-size: 26px;
  font-weight:700;
  background-color: #2196F3;
}

.ready li{
 list-style-type: none;
 
}
a {
  list-style-type: none;
  text-decoration: none;
  color:#212121;
}
a:hover {
 color: #2196F3;
}
.button:hover {
  color: #2196F3;
  
}
.button li{
  list-style-type: none;
}
.dark-letter{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color:#212121;
}
.clear-letter{
    font-style:normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color:#757575
}
h3{
  color:#212121;
  font-family:'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
} 
p{
color:#757575;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
}