body{
  background-color:#FFFFFF;
  font-family: 'Raleway','Roboto';

}
.titulo {
  font-size: 26px;
  font-weight:700;
  background-color: #2196F3;
}

.ready li{
 list-style-type: none;
 
}
a {
  font-family: 'Raleway';
  font-style: normal;
  width:0%;
  margin:49px;
  padding:32px;
  list-style-type: none;
  text-decoration: none;
  color:#212121;
}
a:hover {
 color: #2196F3;
}
.button:hover {
  color: #2196F3;
  
}
.button li{
  list-style-type: none;
}
.dark-letter{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color:#212121;
}
.clear-letter{
    font-style:normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color:#757575
}
h3{
  color:#212121;
  font-family:'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
} 
p{
color:#757575;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
}
/*header opciones */
nav ul{
  list-style-type: none;
  display: flex;
  margin: 0 -10 px;
}
nav li{
  margin:0 10 px;
}
.push-right{
  list-style-type: none;
  margin-left: auto;
}
/*barra azul del la solicitud*/
.imagen-blue {
  width: 1600px;
  height: 600px
}
/*a que nos dedicamos */
.wededicate> ul {
  display:flex;
  list-style-type: none;
}
